body{
    background: rgb(206, 164, 164);
    text-align: center;
    font-family: monospace;
    margin-bottom: 20px;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
}

ul li{
    list-style: none;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
}

header{
    margin-top: 70px;
}

span{
    color: red;
    
}


p{
    font-size: 18px;
}

.img-padrao{
    margin-bottom: 20px;
    width: 300px;
}

.logo{
    width: 20px;
}